.cart-icon {
  width: 35px;
  fill: hsl(59, 40%, 91%);
}

.egg-icon {
  width: 32px;
}

.home-icon {
  width: 56px;
  fill: hsl(59, 40%, 91%);
}

.money-icon {
  width: 40px;
}

.stat-icon {
  width: 22px;
}
