.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: hsl(59, 40%, 91%);
  border-radius: 20px;
  box-shadow:
    hsl(96 22% 59%) 0px 10px 20px,
    hsl(96 22% 59%) 0px 6px 6px;
  margin: 32px;
  padding: 16px;
}

.row-one {
  display: flex;
  flex-direction: row;
}

h2 {
  font-family: 'League Gothic', sans-serif;
  font-size: 48px;
  color: hsl(94, 18%, 35%);
  align-self: baseline;
}

h3 {
  text-align: center;
  margin: auto;
  font-size: 32px;
  color: hsl(120, 1%, 21%);
}

.card-sub-info {
  font-family: 'League Gothic', sans-serif;
  font-size: 24px;
  color: hsl(94, 18%, 35%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.row-two,
.row-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-three {
  justify-content: space-between;
}

.increment-decrement {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.increment-decrement > div {
  margin: auto;
}

.cost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-left: auto;
}

.stat-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.stat-display > p {
  margin: auto;
}

.inc-dec {
  width: 30px;
  height: 30px;
  background-color: hsl(96 22% 59%);
  color: hsl(120, 1%, 21%);
  font-weight: 900;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.05s ease-in-out;
}

.inc-dec:hover {
  transform: scale(1.1);
}

.add-to-cart {
  margin-left: auto;
}

.add-to-cart {
  margin-left: auto;
  background-color: hsl(340, 86%, 77%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  transition:
    transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.add-to-cart:hover {
  transform: scale(1.05);
  background-color: hsl(340, 70%, 70%);
}

img {
  height: 175px;
  width: 175px;
}
