.cart-card {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: hsl(59, 40%, 91%);
    border-radius: 20px;
    box-shadow:
      hsl(96 22% 59%) 0px 10px 20px,
      hsl(96 22% 59%) 0px 6px 6px;
    margin: 16px;
}

